<div class="container">
  <div class="row row-cols-3 ">

    <div class="col">
      <img src="../../assets/imgs/LED.jpeg" class="card-img-top a" alt="...">
      <div class="row row-cols-2 ">
        <button type="button" class="btn btn-outline-success " (click)="ledon()">开</button>
        <button type="button" class="btn btn-outline-secondary" (click)="ledoff()">关</button>
      </div>
    </div>

    <div class="col">
      <img src="../../assets/imgs/风扇.jpeg" class="card-img-top a" alt="...">
      <div class="row row-cols-3 ">
        <button type="button" class="btn btn-outline-success" (click)="fanhigh()">高</button>
        <button type="button" class="btn btn-outline-warning" (click)="fanlow()">低</button>
        <button type="button" class="btn btn-outline-secondary" (click)="fanoff()">关</button>
      </div>
    </div>

    <div class="col">
      <img src="../../assets/imgs/加湿器.jpeg" class="card-img-top a" alt="...">
      <div class="row row-cols-2">
        <button type="button" class="btn btn-outline-success" (click)="humion()">开</button>
        <button type="button" class="btn btn-outline-secondary" (click)="humioff()">关</button>
      </div>
    </div>

    <div class="col">
      <img src="../../assets/imgs/加热器.jpeg" class="card-img-top a" alt="...">
      <div class="row row-cols-2">
        <button type="button" class="btn btn-outline-success" (click)="heaton()">开</button>
        <button type="button" class="btn btn-outline-secondary" (click)="heatoff()">关</button>
      </div>
    </div>


  </div>
</div>